<!DOCTYPE html>
<html>
<head>
  <title>TheIssue</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
  window.appConfig = {};
  window.appConfig["FB_APP_ID"] = <% if Rails.env.development? -%> 
                                  "608873879182214"
                                  <% else -%>
                                  "1387251161495606" 
                                  <% end -%>
</script>
<div id="fb-root"></div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li <% if root_path == request.path -%> class="active" <% end -%>> <%= link_to "Home", root_path %></li>
      <li <% if speakers_path == request.path -%> class="active" <% end -%>> <%= link_to "Speakers", speakers_path %></li>
      <li <% if theme_path == request.path -%> class="active" <% end -%>><%= link_to "Theme",theme_path %></li>
      
    </ul>
   </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="logo" href="/static_pages/home">
        <div class="header"> The Issue <br> Singapore: The 48 Year Siege </div>
        <span class="logo-bottom"> 13th March 2014, 7 - 10 PM</span>
        <br>
        <span class="logo-bottom"> Ngee Ann Kong Si Auditorium, UTown</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="register-button">
        <a href="/register"> Register Now </a>
      </div>
    </div>
  </div>
  
<%= yield %>
  
</div>
  
</body>
</html>
